.card {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--surface-card);
  border-radius: $borderRadius;
  box-shadow: 0 3px 5px rgb(0 0 0 / 2%), 0 0 2px rgb(0 0 0 / 5%),
    0 1px 4px rgb(0 0 0 / 8%) !important;

  &.card-w-title {
    padding-bottom: 2rem;
  }
}
